rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isCandidate() {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/candidates/$(request.auth.uid));
    }

    function isCompany() {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/companies/$(request.auth.uid));
    }

    match /candidates/{candidateId} {
      allow create: if isSignedIn()
        && request.auth.uid == candidateId
        && request.resource.data.uid == request.auth.uid;
      allow read: if (isSignedIn()
          && request.auth.uid == candidateId
          && resource.data.uid == request.auth.uid)
        || isCompany();
      allow update, delete: if isSignedIn()
        && request.auth.uid == candidateId
        && resource.data.uid == request.auth.uid;

      match /curriculum/{curriculumId} {
        allow create, update, delete: if isSignedIn()
          && request.auth.uid == candidateId;
        allow read: if (isSignedIn() && request.auth.uid == candidateId)
          || isCompany();
      }
    }

    match /companies/{companyId} {
      allow create: if isSignedIn() && request.auth.uid == companyId;
      allow read, update, delete: if isCompany() && request.auth.uid == companyId;
    }

    match /jobOffers/{offerId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isCompany();
    }

    match /applications/{applicationId} {
      allow create: if isCandidate()
        && request.auth.uid == request.resource.data.candidateId;

      allow read: if (isCandidate()
          && request.auth.uid == resource.data.candidateId)
        || (isCompany()
          && request.auth.uid == resource.data.companyUid);

      allow update: if isCompany()
        && request.auth.uid == resource.data.companyUid;

      allow delete: if false; // Deletion is not allowed for now.
    }

    match /calendarEvents/{eventId} {
      allow create: if isSignedIn()
        && request.resource.data.owner_uid == request.auth.uid;
      allow read, update, delete: if isSignedIn()
        && resource.data.owner_uid == request.auth.uid;
    }
  }
}
