.Candidatedashboard-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f8f9fa;
    color: #333;
}

.dashboard-company-container {
    background-color: rgb(11, 120, 244);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-block-end: 20px;
}

.dashboard-header h1 {
    font-size: 2em;
    margin-block-end: 10px;
}

.dashboard-header p {
    font-size: 1.2em;
}


.dashboard-info {
    margin-block-end: 30px;
}

.candidate-info {
    background-color: hsl(180, 37%, 97%);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidate-info h2 {
    margin-block-end: 10px;
    color: #333;
}


.dashboard-offers h2 {
    margin-block-end: 15px;
    color: #333;
}

.offers-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.offer-card {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offer-card h3 {
    font-size: 1.5em;
    margin-block-end: 10px;
}

.offer-card p {
    font-size: 1em;
    margin-block-end: 15px;
    color: hsl(0, 27%, 6%);
}

.apply-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.apply-button:hover {
    background-color: #0056b3;
}
