/* DashboardCompany.css */
.dashboard-company-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    padding: 2rem;
    background-color: rgb(197, 223, 233);
    min-block-size: 100vh;
}

.dashboard-header {
    background-color: hwb(215 20% 38%);
    color: #d0d3b6;
    padding: 1rem;
    border-radius: 8px;
}

/* Contenedor principal */
.job-offers-section {
    padding: 30px;
    background-color: hsl(178, 24%, 71%);
    border-radius: 8px;
    box-shadow: 0 4px 6px hsl(216, 56%, 77%);
    max-inline-size: 800px;
    margin: 0 auto;
}

/* Lista de ofertas */
.job-offers-list {
    color: rgb(27, 44, 77);
    padding: 0;
    margin: 0;
}

/* Elemento individual de la oferta */
.job-offer-item {
    inline-size: 500px;
    background-color: #f7ebeb;
    color: #080707;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-block-end: 15px;
    padding: 15px;
    transition: box-shadow 0.3s ease;
}

.job-offer-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título de la oferta */
.job-offer-item h2 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #333;
}

/* Descripción de la oferta */
.job-offer-item p {
    font-size: 16px;
    margin: 0 0 10px;
    color: #555;
    line-height: 1.5;
}

/* Información adicional */
.job-offer-item span {
    font-size: 14px;
    color: #777;
    display: block;
    margin-block-start: 10px;
}


